<ul class="nav nav-pills">

<li><%= link_to "USA", charts_usa_path %></li>
<li><%= link_to "France", charts_france_path %></li>
<li><%= link_to "UK", charts_uk_path %></li>
<li class="active"><%= link_to "Germany", charts_germany_path %></li>
<li><%= link_to "Russia", charts_russia_path %></li>
<li><%= link_to "Spain", charts_spain_path %></li>
<li><%= link_to "Italy", charts_italy_path %></li>

</ul>

<div class="row">

	<div class="span3">
  		<table class="table table-bordered">
  			<tr>
  				<th>Top free apps iPhone</th>
  			</tr>
			<% retrieve_charts_companies("de", "free").each do |company, application| %>
				<tr>
					<td><%= link_to company, "https://na9.salesforce.com/_ui/search/ui/UnifiedSearchResults?searchType=2&sen=005&sen=00Q&sen=001&sen=003&str="+company%>
						<br><%= application %></td>
				<tr>	
			<% end %>
		</table>
  	</div>

  	<div class="span3">
  		<table class="table table-bordered">
  			<tr>
  				<th>Top grossing apps iPhone</th>
  			</tr>
			<% retrieve_charts_companies("de", "grossing").each do |company, application| %>
				<tr>
					<td><%= link_to company, "https://na9.salesforce.com/_ui/search/ui/UnifiedSearchResults?searchType=2&sen=005&sen=00Q&sen=001&sen=003&str="+company%>
						<br><%= application %></td>
				<tr>	
			<% end %>
		</table>
  	</div>


  	<div class="span3">
  		<table class="table table-bordered">
  			<tr>
  				<th>Top free apps iPad</th>
  			</tr>
			<% retrieve_charts_companies("de", "freeipad").each do |company, application| %>
				<tr>
					<td><%= link_to company, "https://na9.salesforce.com/_ui/search/ui/UnifiedSearchResults?searchType=2&sen=005&sen=00Q&sen=001&sen=003&str="+company%>
						<br><%= application %></td>
				<tr>	
			<% end %>
		</table>
  	</div>

  	 <div class="span3">
  		<table class="table table-bordered">
  			<tr>
  				<th>Top grossing apps iPad</th>
  			</tr>
			<% retrieve_charts_companies("de", "grossingipad").each do |company, application| %>
				<tr>
					<td><%= link_to company, "https://na9.salesforce.com/_ui/search/ui/UnifiedSearchResults?searchType=2&sen=005&sen=00Q&sen=001&sen=003&str="+company%>
						<br><%= application %></td>
				<tr>	
			<% end %>
		</table>
  	</div>

</div>