<!DOCTYPE html>
<html lang="en">

<head>
  <title>TopCharts</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>


<body>

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Top charts tracking</a>
    <ul class="nav">
      <li><%= link_to "Home", charts_index_path %></li>
    </ul>
  </div>
</div>

<div class="container">

    <%= yield %>

</div>

</body>
</html>
